// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

// Custom
.title-wrapper {
  background: $doss-orange;
  color: black;
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

.big {
  font-size: 24px;
}

span.order {
  color: $doss-mild-orange;
}

table.order-info {

  tr {
    border-bottom: 1px solid $doss-border-gray;
  }

  td {
    padding: 8px 15px 5px;
  }
}


table.default table td {
  border: none;

  a {
    background: $doss-orange;
    border: none;
  }
}

.padding-lr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

table.order-list {
  border: 1px solid $doss-border-gray;
  border-top: 5px solid $doss-orange;
  margin-bottom: 5px;

  .header {
    background: $doss-pink;
    font-weight: bold;

    th {
      border: 1px solid $doss-border-gray;
      padding: 5px 10px;
    }
  }

  td {
    border: 1px solid $doss-border-gray;
    padding: 5px 10px;
  }

  .subtotal {
    background: $doss-pink;
  }
}

th.callout-inner.delivery {
  border: none;
  background: $doss-pink;
}

.footer {
  p {
    font-size: 12px;
  }
}
